/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';


$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
    $utilities,
    (
      "color": map-merge(
          map-get($utilities, "color"),
          (
            values: map-merge(
                map-get(map-get($utilities, "color"), "values"),
                  (
                    $all-colors
                  ),
            ),
          ),
      ),
    )
);


body {
  background-color: #393646;
  color: #F4EEE0
}

.dark-3 {
  background-color: #6D5D6E;
  color: #F4EEE0
}

.dark-2 {
  background-color: #4F4557;
  color: #F4EEE0

}

.dark-1 {
  background-color: #393646;
  color: #F4EEE0
}

.tc-1 {
  color: #D5CEA3
}

.scroll {
  overflow: scroll;
  min-height: 100vh;
}
