<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="text-center">
      <h1 class="display-5"> Real Time Messaging App </h1>
      <hr class="hr">
      <button
        class="btn btn-dark btn-lg dark-3 me-2"
        role="button"
        routerLink="login"
      >
        Login
      </button>

      <button
        class="btn btn-dark btn-lg dark-3 me-2"
        role="button"
        routerLink="register"
      >
        Register
      </button>

    </div>
  </div>
</div>
