<ul class="list-group list-group-light">
  <li *ngFor="let user of users"
      class="list-group-item d-flex justify-content-between align-items-center dark-3 border "
      style="background-color: #393053;" (click)="onUserClick(user)">
    <div class="d-flex align-items-center">
      <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
           class="rounded-circle"/>
      <div class="ms-3">
        <h6 class="mb-0 border-bottom">Kate Hunington
          <span class="badge rounded-pill badge-notification bg-danger">12</span>
          <span *ngIf="(presenceService.onlineUsers$ | async)?.includes(user.userName)"
                class="mx-3 mb-1 badge rounded-pill badge-success">Online</span>
          <!--          <span *ngIf="!(presenceService.onlineUsers$ | async)?.includes(user.userName)"-->
          <!--                class="mx-3 mb-1 badge rounded-pill badge-info">Offline</span>-->
        </h6>
        <p class="mb-0 tc-1">{{ user.userName }}</p>
      </div>
    </div>
    <!--    <span class="badge rounded-pill badge-success">Online</span>-->
  </li>
</ul>
